<div id="app">
<template>
    <div>
      <label for="movie">Select Movie:</label>
      <select id="movie" v-model="selectedMovie">
        <option v-for="movie in movies" :key="movie.id" :value="movie.id">{ movie.name }</option>
      </select>

      <label for="date">Select Date:</label>
      <input type="date" id = "date" v-model.date="selectedDate" />
  
      <label for="tickets">Number of Tickets:</label>
      <input type="number" id="tickets" v-model.number="numTickets" />
  
      <button @click="avshows()">Check for available shows</button>
    </div>

    <div v-show="showAvailableShows">
      <div v-for="theatre in theatres":key="theatre.id">
        <h2>Shows for { theatre.name }</h2>
        <ul>
          <li v-for="show in shows" :key="show.id" v-if="show.theatreId === theatre.id">
            { show.starttime }
            <form @submit.prevent="bookTickets(show.id, theatre.id)">
              <input type="submit" value="Book">
            </form>
          </li>
        </ul>
      </div>
    </div>
  </template>
</div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script src="../static/main.js"></script>  
