<!DOCTYPE html>
<html>
<head>
  <title>Admin Dashboard</title>
</head>
<body>
  <div id="app">
    <div class="container">
      <h2>Theatres</h2>
      <div class="row my-3">
      <div class="col-md-3" v-for="theatre in theatres">
        <div class="card my-3">
          <div class="card-img-top"><img src="https://picsum.photos/300/200" alt="" srcset=""></div>
            <div class="card-title">{ theatre.name }
              <div class = "d-flex justify-content-between">
                <button class = "btn btn-success">Add Shows</button>
            <form method="POST" :action="removeTheatre(theatre.id)">
              <input type="submit" value="Remove" class = "btn btn-danger">
            </form>
            
              </div>
          </div>
        </div>
      </div>
    </div>
    </div>

    <!-- <ul> -->
      <!-- <li v-for="theatre in theatres">
        { theatre.name }
        <form method="POST" :action="removeTheatre(theatre.id)">
          <input type="submit" value="Remove">
        </form>
      </li>
    </ul> -->

    <h2>Add Theatre</h2>
    <form method="POST" @submit.prevent="addTheatre">
      <input type="text" v-model="newTheatreName" placeholder="Theatre Name" required>
      <input type="submit" value="Add">
    </form>

    <h2>Add Movie</h2>
    <form method="POST" @submit.prevent="addMovie">
      <input type="text" v-model="newMovieName" placeholder="Movie Name" required>
      <input type="text" v-model="newMovieDesc" placeholder="Movie Description" required>
      <input type="file" ref="fileInput" @change="handleFileChange">
      <input type="submit" value="Add">
    </form>

    <div v-for="theatre in theatres">
      <h2>Shows for { theatre.name }</h2>
      <ul>
        <li v-for="show in theatre.shows">
          { show.movie.name } - { show.starttime }
          <form method="POST" :action="removeShow(show.id)">
            <input type="submit" value="Delete">
          </form>
        </li>
      </ul>

      <h3>Add Show</h3>
      <form method="POST" @submit.prevent="addShow(theatre.id)">
        <select v-model="newShowMovieId" required>
          <option v-for="movie in movies" :value="movie.id">{ movie.name }</option>
        </select>
        <input type="datetime-local" v-model="newShowStartTime" required>
        <input type="number" v-model="newShowTickets" required>
        <input type="submit" value="Add">
      </form>
    </div>
    <h1>{buttonStatus}</h1>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
  <script src="../static/main.js"></script>

</body>
</html>
