<html data-bs-theme = "dark">
  <head>    
    <link rel="icon" href="{{ url_for('static', filename='favicon.png') }}" type="image/x-icon">
    <title>TicketShow</title>
  </head>  
<div id='app'>
  <nav class="navbar navbar-expand-lg bg-body-tertiary fixed-top p-2">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('index') }}">TicketShow</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-4 mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('booking') }}">Book</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('logout') }}">Movies</a>
          </li>
          <li class="nav-item me-5">
            <a class="nav-link" href="{{ url_for('account') }}">Account</a>
          </li>
        </ul>
        <form class="d-flex mb-1 w-50 mx-5" role="search" @submit.prevent>
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" v-model="queryString">
          <button class="btn btn-outline-success" type="submit" @click="redirectToResults">Search</button>
        </form>
        </div>
        <div class = "d-flex me-5">
        <button id ="btnSwitch" :class="'btn btn-'+ theme" @click="toggleTheme">{theme}</button>
        </div>
        <a href="{{ url_for('login') }}" class = "btn btn-success ms-auto">Login</a>
      </div>
  </nav>
  <div class="container mt-2 mb-5">navbar content displays here</div>


  <div class="container-md-5"></div>
  <div class="container">
    <div class="row">
    <div class="col-sm-2 ms-5 mt-3">
      <div class="cardgroup mb-3" style="width: 20rem; height: 24rem;">
        <div class="shadow p-2 mb-2 me-5 bg-outline-{{theme}} rounded">
        <img src="{{ url_for('static', filename='uploads/' + movie.img) }}" class="card-img-top" style="width: 16rem; height: 25rem;">
        <div class="card-body">
        </div>
        </div>
      </div>
      </div>
    <div class="col-lg-5 ms-5 p-5">
        <h1>{{movie.name}}</h1>
        <h5 class="p-1">Rating: {{movie.rating}}</h4>
        <h5 class="p-1">Number of bookings: {{movie.popularity}}</h4>
        <p class="p-1">{{movie.desc}}</p>
        <form action="{{ url_for('booking') }}" method="post">
            <button type="submit" class="btn btn-outline-success" @click="bookMovie({{movie.id}})">Book Tickets</button>
          </form>
    </div>
</div>
</div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
<script src="{{ url_for('static', filename='main.js') }}"></script>
</html>